.navbar-fixed-top {

	             background-color: #222;
	             color:#504B4B;
	             border-radius: 8px;
	             height:5%;

	             }

.navbar-fixed-top .navbar-header a{


	        	color:#bec6ca;
	        	font-style:italic;
	        	font-size: 15pt;
}




.navbar-fixed-top .navbar a{

        color:#bec6ca;
	    font-style:italic;
	    font-size: 14pt;
	    position: absolute;
	    left:94%;
	    top:20%;
}




.nav {

				position: absolute;
				left: 97%;

			}

.nav li a {

                background-color: #222;
				color:#bec6ca;
				text-decoration:none;
				padding:12px 12px;
				font-size:14pt;
				display:block;
			}

.nav li ul {
				background-color: #222;
				font-size: 14pt;
				font-style:italic;
				color:#bec6ca;
				display:none;
				position:absolute;
				min-width:200px;
				min-height:250px;
				border-radius: 15px;
			}

.nav li:hover > ul {
				display:block;
				right: 0;
			}




